.current-temperature-icon {
  position: relative;
  top: 8px;
  margin-right: 10px;
}
.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
.current-temperature {
  font-size: 48px;
}
.value-changer {
  text-decoration: none;
  color: hsl(257, 84%, 65%);
}
.active {
  color: black;
}
